{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
	{% for message in messages %}
		<p>{{ message }}</p>
	{% endfor %}
{% endif %}
{% endwith %}
<div>
<h1>progressApp.©</h1>
	<form action="#" method="post" autocomplete="off" class="login_form">
		<p><input type="text" name="nm_register" placeholder="username" class="user_field"/></p>
		<p><input type="password" name="pw_register" placeholder="password" class="pw_field"></p>
		<p><input type="submit" value="Sign Up" class="submit_button"/></p>
	</form>
</div>
{% endblock %}